<!-- Start of Whatsapp widget Code -->
<script type="text/javascript">
    (function (w, d, s, o, f, js, fjs) {
      w["ww"] = o;
      w[o] =
        w[o] ||
        function () {
          (w[o].q = w[o].q || []).push(arguments);
        };
      (js = d.createElement(s)), (fjs = d.getElementsByTagName(s)[0]);
      js.id = o;
      js.src = f;
      js.async = 1;
      fjs.parentNode.insertBefore(js, fjs);
    })(
      window,
      document,
      "script",
      "whatswidget",
      "https://cdn.jsdelivr.net/gh/mascarell/whatswidget/widget.js"
    );
  
    whatswidget("config", {
      message: `Hai 🤗 Saya Tante Amy dan saya di sini untuk membantu Anda tentang pesanan atau kemitraan dengan Sambal Ikan Roa Tante Amy.
  <br /><br />Apa yang bisa saya bantu?`,
      phone: "+6281210066533",
      showMessageAlways: true,
      useCookies: false,
    });
  </script>